{% extends "base.html" %}
{% block body %}
<small>Scheduled tournaments will be created 24h in advance</small>

{% for team, schedules in teams | dictsort %}
  <h2><a href="https://lichess.org/team/{{team}}" target="_blank">{{team}}</a></h2>
  <h3>Created tournaments</h3>
  <table class="overview-table">
    <tr>
      <td>Daily Blitz</td>
      <td>Horde</td>
      <td>2+5</td>
      <td>1 hour</td>
      <td>2022-03-18 17:00 UTC</td>
      <td><button>Cancel</button></td>
    </tr>
  </table>
  <h3>Scheduled tournaments</h3>
  <table class="overview-table">
    {% for schedule in schedules %}
      <tr>
        <td>{{schedule.name}}</td>
        <td>{{variants.get(schedule.variant, "standard")}}</td>
        <td>{{schedule.clock}}+{{schedule.increment}}</td>
        <td>{% if schedule.minutes is divisibleby 60 %}{{schedule.minutes // 60}} hour(s){% else %}{{schedule.minutes}} minutes{% endif %}</td>
        <td>{{schedule_names[schedule.scheduleDay]}} at {{"{:02}:{:02}".format(schedule.scheduleTime//60, schedule.scheduleTime%60)}} UTC</td>
        <td><a class="button" href="/edit/{{schedule.id}}">Edit</a></td>
        <td>
          <form action="/delete/{{schedule.id}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="confirm" type="submit">Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <br />
  <a class="button" href="/create/{{team}}">Schedule new tournament</a>
{% endfor %}
{% endblock %}
